<?xml version="1.0" encoding="UTF-8" ?>
<widget id="com.thedarkleaves.happybutton" version="0.0.1">
    <name>Happy Button</name>
    <description>A button for happiness</description>
    <author email="thedar.kleaves@zohomail.com.au" href="http://appreciatethesauce.blogspot.com">Thedar Kleaves</author>
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <preference name="phonegap-version" value="cli-9.0.0" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />\
    <universal-links>
    <host name="happybutton.page.link" scheme="https" />
    <host name="happy-button-86879.firebaseapp.com" scheme="https">
        <path url="/__/auth/callback"/>
    </host>
</universal-links>
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="browser" />

</widget>